.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0px 20%;
  text-align: center;
  row-gap: 20px;
}

.main-container {
  display: grid;
  row-gap: 20px;
  margin-top: 30px;
}

.total-tax,
.total-price {
  margin: 0px 20%;
  text-align: center;
}

.print button {
  margin: 20px 20%;
  padding: 0.5em 1em;
  background-color: rgb(34, 143, 227);
  border: 0px;
  border-radius: 5px;
  text-align: center;
  color: white;
}
